body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modal__wrapper{
  position: fixed;
  bottom: 0;
  
  width: 100%;
  background: rgb(128, 128, 128, .2);
  backdrop-filter: blur(10px);
}
.modal__wrapper.open{
  height: 100%;
  display: block;
}
.modal__wrapper.close{
  height: 0;
  display: none;
}
.modal__body{
  max-width: 780px;
  margin: auto;
  background-color: #fff;
  margin-top: 5%;
  padding: 20px;
  border-radius: 12px;
  max-height: 400px;
  overflow-y: scroll;
}
.modal__body::-webkit-scrollbar{
  width: 0;
  background-color: transparent;

}
.modal__body{
  -ms-overflow-style: none ;
  scrollbar-width: none;
}
.modal__close{
  text-align: right;
  margin-top: -15px;
  font-size: 20px;
  color: rgb(95, 95, 96);
  cursor: pointer;
}

.modal__body h2{
  text-align: left;
  width: 100%;
  margin: 0;
}

